.App {
  align-items: center;
  width: 90%;
  font-family: Verdana, Helvetica, sans-serif;
  text-align: center;
}


.addTask {
  height: 30vh;
  background-color: gray;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  
}

 .task {
  width: 500px;
  height: 50px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.task-content{
  font-size: 30px;
}

button {
  width: 80px;
  height: 50px;
  margin-left: 5px;
  font-size: 16px;
  text-align: center;
  border: none;
  background-color: rgb(52, 147, 224);
}

button:hover {
  color: white;
  transition: background-color 1s;
  background-color: rgb(7, 67, 117);
}

input {
  width: 200px;
  height: 45px;
  margin-right: 20px;
  font-size: 20px;
}

.pseudo-table{
  display: flex;
  margin: 15px 0;
}